<form class="user" method="post" asp-action="GetStartAndFinishDate" asp-controller="Order">
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="baslangicTarihi" name="dateStart"
               placeholder="Başlangıç Tarihini Giriniz">
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user" name="dateFinish"
               id="bitisTarihi" placeholder="Bitiş Tarihini Giriniz">
    </div>

    <button type="submit">Gönder</button>
    <hr>

</form>







